body {
    font-family: sans-serif;
    color: white;
    margin: 0;
  }
  
  .text-left {
    background-color: #8e8ee7;
    float: left;
  }
  
  .text-right {
    background-color:#b2f7fb;
    float: right;
  }
  .text {
    width: 50%;
    padding: 18% 0;
  }
  
  .text h1 {
    margin-left: 18%;
  }
  
  .img {
    background-color:#27a2c7;
    padding: 1%;
    text-align: center;
  }
  
  .clear {
    clear:both;
  }
  
  